<?xml version='1.0' encoding='utf-8'?>
<widget xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.furrynovel" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets">

    <allow-intent href="https://*.furrynovel.com" />
    <allow-intent href="https://furrynovel.com" />
    <allow-intent href="http://*.furrynovel.com" />
    <allow-intent href="http://furrynovel.com" />
    <author email="admin@furrynovel.com" href="https://furrynovel.com">
        FurryNovel Team
    </author>
    <chcp>
        <config-file url="https://app-content.furrynovel.com/chcp.json" />
        <native-interface version="1" />
    </chcp>
    <content src="index.html#/zh" />
    <description>FurryNovel</description>

    <name>FurryNovel</name>

    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge"
            target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <icon density="hdpi" src="assets/icon.png" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="assets/icon_512x512.xml" />
    </platform>

    <preference name="AppendUserAgent" value="FurryNovelApp/1" />

    <preference name="StatusBarOverlaysWebView" value="true" />
</widget>
